.reviews {
  /* max-height: 200px; */
  overflow-y: scroll;
  border: 3px solid #f0f407;
  box-shadow: 0 4px 8px 0 rgb(14, 143, 236);
  padding: 10px;
  font-size: small;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
}

.modal-content{
     overflow-y: scroll;
  border: 3px solid #64b6ac;
  box-shadow: 0 4px 8px 0 rgba(100, 182, 172);
  padding: 10px;
  font-size: small;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
}

.container{
  max-width: 500px;
  margin: 0 auto;
}

.reviews div {
    margin-bottom: 10px; /* Ajouter de l'espace entre les avis */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Redimensionner la police */
}

.reviews p {
    margin: 5px 0; /* Ajouter de l'espace entre les lignes */
}