<h2>Les avis de nos clients</h2>

<div class="container">
<div class="reviews">
    <div *ngFor="let avis of tabAvisPseudo">
        <!-- <p>{{ avis.pseudo }}</p> -->
        <p>{{ avis.utilisateur.pseudo }}</p>
        <p>{{avis.avis}}</p>
    </div>
    
</div>
</div>

 <button class="boutton" (click)="openModal()">donne ton avis</button> 

 <div *ngIf="isModalOpen" class="overlay" >
    <div class="modal-content">
        <h2>Votre avis nous intéresse</h2>

            <p>{{pseudo}}</p>
        <form [formGroup]="avisForm" (ngSubmit)="submitAvis()">

            <div class="form-group d-flex flex-column">
                <label for="avis">Avis :</label>
                <textarea id="avis" formControlName="avis"></textarea>
            </div>
            <button type="submit">Enregistrer</button>
            <button (click)="closeModal()">Annuler</button>
        </form>
    </div>
</div>


