<!-- avis-modal.component.html -->


    <div *ngIf="isModalOpen">
    <div class="modal-content">
        <h2>Créer un avis</h2>
          <p>{{pseudo}}</p>
        <form [formGroup]="avisForm" (ngSubmit)="submitAvis()">
            <div class="form-group">
                <label for="commentaire">Commentaire :</label>
                <textarea id="commentaire" formControlName="commentaire"></textarea>
            </div>
            <button type="submit">Enregistrer</button>
            <button (click)="closeModal()">Annuler</button>
        </form>
    </div>
</div>