.filter-bar.form-check{
    display: flex;
    flex-direction: row;
    align-items: center;
  width: 17rem;
  top: 56px;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

 .css1{
    position: sticky;
 }

 