<div class="container">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
        <div>
            <h2>Connexion</h2>

            <p>Afin</p>
        </div>
        <div>
        
            <p><input formControlName="email" placeholder="Email" /></p>
            <p>
                <input type="password" formControlName="password" placeholder="Mot de passe" />
            </p>
            <div *ngIf="loginForm.get('email')?.hasError('required')">
                L'email est requis.
            </div>
        </div>
        <div class="center">
            <button type="submit"><span>Connexion</span></button>
        </div>
        <p [routerLink]="['/register']">Pas encore inscrit?C'est par ici </p>
    </form>
</div>