<div class="card">
<h2>Inscription</h2>

<p>Si vous voulez profiter d'un voyages culinaires avec les meilleurs plats des antilles, inscrivez-vous rapidement</p>

<form (ngSubmit)="register()" [formGroup]="registerForm">
    <div>
        <span>Merci de remplir l'ensemble des champs ci-dessous:</span>
    </div>
    <div>
        <p><input formControlName="pseudo" placeholder="Pseudo" /></p>
        <p><input formControlName="email" placeholder="Email" /></p>
        <p>
            <input type="password" formControlName="password" placeholder="Mot de passe" />
        </p>
        <p>
            <input type="password" formControlName="passwordConf" placeholder="Confirmez mot de passe" />
        </p>
        <div *ngIf="registerForm.get('email')?.hasError('required')">
            L'email est requis.
        </div>
    </div>
    <div class="center">
        <button type="submit"><span>Inscription</span></button>
    </div>
</form>
</div>